<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbAR0hJwd-nyVFXZ6_eOyspJ5m_288Uz4</string>
	<key>GCM_SENDER_ID</key>
	<string>934444276152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>eu-shared-tasks</string>
	<key>STORAGE_BUCKET</key>
	<string>eu-shared-tasks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934444276152:ios:c3589d6c9f78b56f75174d</string>
</dict>
</plist>